<div class="container">
	<table class="table table-striped">
                <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Tech Score</th>
                        <th>Firm Score</th>
                        <th>Keywords</th>
                        <th>Decision</th>
                </tr>
                <tr ng-repeat="candidate in userinfo">
                        <td ng-bind="$index+1"></td>
                        <td ng-bind="candidate.name"></td>
                        <td ng-bind="candidate.talentNo"></td>
                        <td ng-bind="candidate.firmFit"></td>
                        <td>
                                <p ng-repeat="skill in candidate.skills">{{skill}}</p>
                        </td>
                        <td ng-bind="candidate.decision"></td>
                </tr>
        </table>
</div>
